import * as React from 'react';
import { Formik } from 'formik';
import {
  Content,
  Button,
  Container,
  Form,
  Item, {# TODO adds import form field #}
} from 'native-base';

const {= name =}Page: React.FC<> = () => {
  // TODO: const store = useMyStore();
  const isSending = store.state.isSending;
  const defaultValue = {
    {%- for field in fields %}
    {= field.name =}: '',
    {%- endfor %}
  }

  const onSubmit = (data: any) => {
    Keyboard.dismiss();
    // TODO dispatch some action with form data
  };

  const validate = (values: any) => {
    const errors: any = {};
    const minLength = 6;

    {%- for field in fields -%}
      {%- if field.required %}
    if (!values.{= field.name =}) {
      errors.{= field.name =} = '{= field.label =} est requis';
    }
      {%- match field.validation -%}
      {%- when Some with (validator) -%}
        {%- match validator.min_length %}
        {%- when Some with (min) %}
    else if (values.{= field.name =}.length < {=min =}) {
      errors.{= field.name =} = 'Minimum {= min =} caractères';
    }
        {%- when None %}
        {%- endmatch %}

        {%- match validator.max_length %}
        {%- when Some with (max) %}
    else if (values.{= field.name =}.length > {= max =}) {
      errors.{= field.name =} = 'Maximum {= max =} caractères';
    }
        {%- when None %}
        {%- endmatch %}

      {%- when None -%}
      {%- endmatch %}
      {% else %}
        {%- match field.validation -%}
        {%- when Some with (validator) -%}
          {%- match validator.min_length %}
          {%- when Some with (min) %}
    if (values.{= field.name =}) {
      if (values.{= field.name =}.length < {=min =}) {
        errors.{= field.name =} = 'Minimum {= min =} caractères';
      }
    }
          {%- when None %}
          {%- endmatch %}

          {%- match validator.max_length %}
          {%- when Some with (max) %}
    if (values.{= field.name =}) {
      if (values.{= field.name =}.length > {= max =}) {
        errors.{= field.name =} = 'Maximum {= max =} caractères';
      }
    }
          {%- when None %}
          {%- endmatch %}

        {%- when None -%}
        {%- endmatch %}
      {%- endif %}
    {%- endfor %}

    return errors;
  };

  return (
    <Formik
      initialValues={{ ...defaultValue }}
      validate={validate}
      onSubmit={values => onSubmit(values)}>
      {({
        values,
        errors,
        handleChange,
        isValid,
        handleSubmit,
        setFieldValue,
        dirty,
      }) => (
      <Container>
        <Header>
            <Left />
            <Body>
              <Title>
                {%- match title -%}
                {%- when Some with (my_title) -%}
                {= my_title =}
                {%- when None -%}
                {%- endmatch -%}
              </Title>
            </Body>
            <Right>
              <Button
                hasText
                transparent
                onPress={handleSubmit}
                disabled={!dirty || !isValid}
                style={{ paddingLeft: 0 }}>
                {isSending ? (
                  <Spinner color="#007aff" size={25} />
                ) : (
                  <Text
                    style={{
                      fontWeight: '600',
                      width: '100%',
                      paddingLeft: 0,
                      textAlign: 'right',
                    }}>
                    {= submit_label =}
                  </Text>
                )}
              </Button>
            </Right>
          </Header>
        <Content padder>
          <Form>
            {%- for field in fields -%}
            {%- match field.input_type -%}
            {%- when FieldType::Picker %}
            <Item picker
              style={[
                formStyles.pickerContainer,
                errors.{= field.name =} ? formStyles.errorBorder : null,
              ]}>
              <Text style={formStyles.pickerLabelText}>
                {errors.{= field.name =} || '{= field.label =}'}
              </Text>
              <Picker
                mode="dropdown"
                iosHeader="{= field.label =}"
                headerBackButtonText="Fermer"
                iosIcon={<Icon name="arrow-down" />}
                placeholder="{= field.placeholder =}"
                style={formStyles.pickerPicker}
                selectedValue={values.{= field.name =}}
                onValueChange={value => setFieldValue('{= field.name =}', value)}>
                {%- match field.validation -%}
                {%- when Some with (validation) -%}
                  {%- match validation.enum_values -%}
                  {%- when Some with (enum_values) -%}
                    {%- for enum_value in enum_values %}
                <Picker.Item
                  key="{= enum_value.value =}"
                  label="{= enum_value.label =}"
                  value="{= enum_value.value =}"
                />
                    {%- endfor %}
                  {%- when None -%}
                  {%- endmatch -%}
                {%- when None -%}
                {%- endmatch %}
              </Picker>
            </Item>
            {%- when FieldType::Input %}
            <Item floatingLabel error={!!errors['{= field.name =}']}>
              <Label>{errors.{= field.name =} || '{= field.label =}'}</Label>
              <Input
                value={values.{= field.name =}}
                onChangeText={handleChange('{= field.name =}')}
                placeholder="{= field.placeholder =}"
                {%- match field.data_type -%}
                {% when FieldDataType::Password %}secureTextEntry={true}
                {%- when _ -%}{%- endmatch -%}
              />
            </Item>
            {%- when _ -%}
            {%- endmatch -%}
            {# TODO textarea
            {# editable multiple select input with autocompletion #}


            {%- endfor %}
          </Form>
        </Content>
      </Container>
      )}
    </Formik>
  );
}
